<div>

  <div class="row">
    <div class="col-12 mt-2">
      <app-view-heading
        [title]="'Conclusion'"
      ></app-view-heading>
      A new feature selection HFS method is developed which is superior of benchmarking algorithms of SVM-RFE, Relief-F, FCBF and JMM for identifying the major factors from high dimensional and large-scale mixed-type production datasets. It is verified by  improving prediction accuracy at 2.5%-10.67% against with the benchmarking algorithms. The HFS method also extremely reduces the computational cost at 8 times compared with original 128 features.
    </div>
  </div>

  <div class="container-fluid mt-4">
    <!--heading row -->
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <h3>Higher Prediction Accuracy</h3>
          </div>
          <div class="col-md-6">
            <h3>Lower Computational Cost</h3>
          </div>
        </div>
      </div>
    </div>

    <!-- contents row -->
    <div class="row mt-2">
      <div class="row">
        <div class="col-12 col-lg-6 col-md-6 d-flex">
          <div class="introduction-component content">
            <p>Higher prediction accuracy of 2.5%-10.67% compared with the benchmarking algorithms of SVM-RFE, Relief-F, FCBF and JMIM.
            </p>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-md-6 d-flex">
          <div class="introduction-component content">
            <p>Computational cost is 8 times lower than the one with original 128 features for predictive modeling.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- charts row  -->
    <div class="row col-12 mt-4">

          <!-- chart 1  -->
          <div class="col-6 col-md-6">
            <h2 class="mt-0">Higher Prediction Accuracy</h2>
            <section class="chart">

              <kendo-chart class="vh-50 "
                           [title]="{ text: 'Prediction Accuracy(%)', font: '18px sans-serif'}">

                <kendo-chart-legend position="bottom" orientation="horizontal" [labels]="{font: '15px sans-serif'}">
                  <kendo-chart-legend-item>
                  </kendo-chart-legend-item
                  >x
                </kendo-chart-legend>
                <kendo-chart-category-axis>
                  <kendo-chart-category-axis-item
                    [categories]="['SVM-RFE', 'Relief-F', 'FCBF','JMIM','CPPS WP3.1 (HFS)']"
                    [title]="{ text: 'Feature Selection Method', font: '15px sans-serif'}"
                    [labels]="{font: '13px sans-serif'}"
                    [line]="{width: 5}"

                  >
                  </kendo-chart-category-axis-item>
                </kendo-chart-category-axis>
                <kendo-chart-series>

                  <kendo-chart-series-item
                    type="column"
                    width=5
                    name="Features"
                    color="#fed357"
                    [data]="[79.5, 80.6, 84, 77.8, 86.1]"
                  >
                  </kendo-chart-series-item>
                </kendo-chart-series>
                <kendo-chart-value-axis>

                  <kendo-chart-value-axis-item
                    [title]="{ text: 'Feature selection performance', font: '15px sans-serif' }"
                    [labels]="{font: '13px sans-serif'}"
                    [line]="{width: 5}"
                    [majorGridLines]="{width: 1, color:'grey'}"

                  >
                  </kendo-chart-value-axis-item>

                </kendo-chart-value-axis>
              </kendo-chart>
            </section>
          </div>

          <!-- charts 2  -->
          <div class="col-6 col-md-6">
            <h2 class="mt-0">Lower Computational Cost</h2>
            <section class="chart">

              <kendo-chart class="vh-50 "
                           [title]="{ text: 'Computational Cost', font: '18px sans-serif'}">

                <kendo-chart-legend position="bottom" orientation="horizontal" [labels]="{font: '15px sans-serif'}">
                  <kendo-chart-legend-item>
                  </kendo-chart-legend-item
                  >
                </kendo-chart-legend>
                <kendo-chart-category-axis>
                  <kendo-chart-category-axis-item
                    [categories]="['Original', 'CPPS WP3.1 (HFS)']"
                    [title]="{ text: 'Feature Selection Method', font: '15px sans-serif'}"
                    [labels]="{font: '13px sans-serif'}"
                    [line]="{width: 5}"

                  >
                  </kendo-chart-category-axis-item>
                </kendo-chart-category-axis>
                <kendo-chart-series>

                  <kendo-chart-series-item
                    type="column"
                    width=5
                    name="Features"
                    color="#fed357"
                    [data]="[128,16]"
                  >
                  </kendo-chart-series-item>
                </kendo-chart-series>
                <kendo-chart-value-axis>

                  <kendo-chart-value-axis-item
                    [title]="{ text: 'Computational cost', font: '15px sans-serif' }"
                    [labels]="{font: '13px sans-serif'}"
                    [line]="{width: 5}"
                    [majorGridLines]="{width: 1, color:'grey'}"

                  >
                  </kendo-chart-value-axis-item>

                </kendo-chart-value-axis>
              </kendo-chart>
            </section>
          </div>

    </div>

</div>

