<div>
  <div class="row">
    <div class="col-12">
      <app-view-heading
        [title]="'Results'"
      ></app-view-heading>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="row col-12">
        <h2 class="mt-0 mb-0">Higher Total Output</h2>
      </div>
      <div class="row col-12 col-lg-12">
        <section class="chart">
          <kendo-chart class=" vh-30 vh-xxl-30" [title]="{text: 'Chart 1', font: chartConfig.mainTitleFont}" >
            <kendo-chart-legend [markers]="chartConfig.legendType" position="bottom" orientation="horizontal" [labels]="{font: chartConfig.legendFont}">
              <kendo-chart-legend-item ></kendo-chart-legend-item
              >

            </kendo-chart-legend>
            <kendo-chart-category-axis>
              <kendo-chart-category-axis-item
                [categories]="['Cat 1', 'Cat 2', 'Cat 3', 'Cat 4', 'Cat 5', 'Cat 6', 'Cat 7', 'Cat 8', 'Cat 9', 'Cat 10']"
                [title]="{ text: 'X-Axis label', font: chartConfig.axisTitleFont}"
                [labels]="{font: chartConfig.axisLabelFont}"
                [line]= "{width: chartConfig.lineWidth, color: chartConfig.lineColor}"
                [majorGridLines]= "{width: chartConfig.majorLineWidth, color: chartConfig.lineColor}"
              >
              </kendo-chart-category-axis-item>
            </kendo-chart-category-axis>
            <kendo-chart-series>
              <kendo-chart-series-item
                type="column"

                [data]="[100, 200, 300, 300, 100, 200, 300, 100, 200, 300, ]"
                name= "CPPS"
              >
                <kendo-chart-series-item-tooltip>
                  <ng-template let-value="value" let-category="category">
                    <span class="fw-bolder">{{category}}</span><br>
                    {{value}}
                  </ng-template>
                </kendo-chart-series-item-tooltip>
              </kendo-chart-series-item>

              <!--            <kendo-chart-series-item type="column">-->
              <!--            </kendo-chart-series-item>-->
              <kendo-chart-series-item
              type="column"

              [data]="[100, 100, 100, 100, 100, 100, 100, 100,100, 100]"
              name= "Alogo 2"
             >
                <kendo-chart-series-item-tooltip>
                  <ng-template let-value="value" let-category="category">
                    <span class="fw-bolder">{{category}}</span><br>
                    {{value}}
                  </ng-template>
                </kendo-chart-series-item-tooltip>
              </kendo-chart-series-item>
              <kendo-chart-series-item
                type="column"

                [data]="[100, 150, 150, 150, 150, 150, 150, 150,150, 150]"
                name= "Alogo 3"
              >
                <kendo-chart-series-item-tooltip>
                  <ng-template let-value="value" let-category="category">
                    <span class="fw-bolder">{{category}}</span><br>
                    {{value}}
                  </ng-template>
                </kendo-chart-series-item-tooltip>
              </kendo-chart-series-item>
              <kendo-chart-series-item
                type="column"

                [data]="[100, 175, 175, 175, 175, 175, 175, 175,175, 175]"
                name= "Alogo 4"
              >
                <kendo-chart-series-item-tooltip>
                  <ng-template let-value="value" let-category="category">
                    <span class="fw-bolder">{{category}}</span><br>
                    {{value}}
                  </ng-template>
                </kendo-chart-series-item-tooltip>
              </kendo-chart-series-item>
              <kendo-chart-series-item
                type="column"

                [data]="[100, 75, 75, 75, 75, 75, 75, 75,75, 75]"
                name= "Alogo 5"
              >
                <kendo-chart-series-item-tooltip>
                  <ng-template let-value="value" let-category="category">
                    <span class="fw-bolder">{{category}}</span><br>
                    {{value}}
                  </ng-template>
                </kendo-chart-series-item-tooltip>
              </kendo-chart-series-item>

              <kendo-chart-value-axis>
                <!--To change the size of the y-axis title, please change the font size of the title parameter-->
                <!--To change the width of the horizontal gridlines, please change the width of the line and majorGridLines parameters-->
                <!--To change the size of the y-axis data, please change the size of the labels parameter-->
                <kendo-chart-value-axis-item
                  [title]="{ text: 'Y-Axis Label',  font: chartConfig.axisTitleFont }"
                  [labels]="{ font: chartConfig.axisLabelFont}"
                  [line]= "{width: chartConfig.lineWidth, color: chartConfig.lineColor}"
                  [majorGridLines]= "{width: chartConfig.majorLineWidth, color: chartConfig.lineColor}"

                  >
                </kendo-chart-value-axis-item>

              </kendo-chart-value-axis>
            </kendo-chart-series>

          </kendo-chart>



        </section>
      </div>
      <div class="row col-12 mt-4">
        <h2 class="mt-0 mb-0">Faster Computational Time</h2>
        <section class="chart col-12 col-lg-12">
          <kendo-chart  class=" vh-lg-30" [title]="{text: 'Computation Time', font: chartConfig.mainTitleFont}">
            <kendo-chart-legend [markers]="chartConfig.legendType" position="bottom" orientation="horizontal" [labels]="{font: chartConfig.legendFont}">
              <kendo-chart-legend-item >


              </kendo-chart-legend-item
              >

            </kendo-chart-legend>
            <kendo-chart-category-axis>
              <kendo-chart-category-axis-item
                [categories]="['Cat 1', 'Cat 2', 'Cat 3', 'Cat 4', 'Cat 5', 'Cat 6', 'Cat 7', 'Cat 8', 'Cat 9', 'Cat 10']"
                [title]="{ text: 'X-Axis label', font: chartConfig.axisTitleFont}"
                [labels]="{font: chartConfig.axisLabelFont}"
                [line]= "{width: chartConfig.lineWidth, color: chartConfig.lineColor}"
                [majorGridLines]= "{width: chartConfig.majorLineWidth, color: chartConfig.lineColor}"
              >
              </kendo-chart-category-axis-item>
            </kendo-chart-category-axis>
            <kendo-chart-series>
              <kendo-chart-series-item
                type="line"
                [data]="[100, 200, 300, 300, 100, 200, 300, 100, 200, 300, ]"
                name= "Model Factory"
                [markers]="{size: chartConfig.markerSize}"
              >
                <kendo-chart-series-item-tooltip>
                  <ng-template let-value="value" let-category="category">
                    <span class="fw-bolder">{{category}}</span><br>
                    {{value}}
                  </ng-template>
                </kendo-chart-series-item-tooltip>
              </kendo-chart-series-item>

              <kendo-chart-series-item
              type="line"
              [data]="[100, 100, 100, 100, 100, 100, 100, 100,100, 100]"
              [markers]="{size: chartConfig.markerSize}"
              name= "Industry(Med Tech)">
                <kendo-chart-series-item-tooltip>
                  <ng-template let-value="value" let-category="category">
                    <span class="fw-bolder">{{category}}</span><br>
                    {{value}}
                  </ng-template>
                </kendo-chart-series-item-tooltip>
              </kendo-chart-series-item>
              <kendo-chart-value-axis>
                <!--To change the size of the y-axis title, please change the font size of the title parameter-->
                <!--To change the width of the horizontal gridlines, please change the width of the line and majorGridLines parameters-->
                <!--To change the size of the y-axis data, please change the size of the labels parameter-->
                <kendo-chart-value-axis-item
                  [title]="{ text: 'Y-Axis Label', font: chartConfig.axisTitleFont }"
                  [labels]="{font: chartConfig.axisLabelFont}"
                  [line]= "{width: chartConfig.lineWidth, color: chartConfig.lineColor}"
                  [majorGridLines]= "{width: chartConfig.majorLineWidth, color: chartConfig.lineColor}"
                  >
                </kendo-chart-value-axis-item>

              </kendo-chart-value-axis>
            </kendo-chart-series>

          </kendo-chart>
        </section>
      </div>
    </div>
    <div class="col-12 col-md-4 d-flex flex-column justify-content-between">
      <div class="col-12">
        <div class="row col-12">
          <h2>Settings</h2>
        </div>
        <div class="row col-12">
          <kendo-label class="field-title" text="Algorithm">

            <div  kendoTooltip class="d-inline"
                  filter=".config-1"
                  tooltipWidth="200"
                     [tooltipTemplate]="template">
              <span class="config-1 k-icon k-i-information"></span>
              <ng-template #template let-anchor>
                <span class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores deserunt dolor doloremque est facilis inventore qui sit veniam.</span>
              </ng-template>
            </div>

          </kendo-label>
          <div class="form-control row mt-1">
            <div class="col-6">
              <label class="k-label"
              >CPPS WP2.1 <app-simtech-label></app-simtech-label>
                <input type="checkbox" kendoCheckBox name="cb"   />
              </label>
            </div>
            <div class="col-6">
              <label class="k-label"
              >External Algo
                <input type="checkbox" kendoCheckBox name="cb" />
              </label>
            </div>
            <div class="col-6">
              <label class="k-label"
              >External Algo 2
                <input type="checkbox" kendoCheckBox name="cb"   />
              </label>
            </div>
            <div class="col-6">
              <label class="k-label"
              >External Algo 3
                <input type="checkbox" kendoCheckBox name="cb"  />
              </label>
            </div>
            <div class="col-6">
              <label class="k-label"
              >External Algo 4
                <input type="checkbox" class="ms-1" kendoCheckBox name="cb" />
              </label>
            </div>

          </div>
        </div>
        <div class="row col-12 mt-4">
          <kendo-label class="field-title" text="Configuration 2"></kendo-label>
          <div class="form-control row mt-1">
            <div class="col-4">
              <label class="k-label"
              >Option 1
                <input type="checkbox" kendoCheckBox name="cb"   />
              </label>
            </div>
            <div class="col-4">
              <label class="k-label"
              >Option 2
                <input type="checkbox" kendoCheckBox name="cb" />
              </label>
            </div>
            <div class="col-4">
              <label class="k-label"
              >Option 3
                <input type="checkbox" kendoCheckBox name="cb"   />
              </label>
            </div>
            <div class="col-4">
              <label class="k-label"
              >Option 4
                <input type="checkbox" kendoCheckBox name="cb"  />
              </label>
            </div>
            <div class="col-4">
              <label class="k-label"
              >Option 5
                <input type="checkbox" class="ms-1" kendoCheckBox name="cb" />
              </label>
            </div>

          </div>
        </div>
        <div class="row col-12 mt-4 ">
          <button class="button mb-4" kendoButton [primary]="true">Apply</button>
        </div>
      </div>
      <div class="col-12  ">
        <div class="row col-12 mt-4">
          <p class="note">Note: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam animi aperiam at aut deserunt dolore inventore ipsam itaque laborum magnam maxime minima</p>
        </div>
        <div class="row col-12 mt-4">
          <p class="note">Reference: <a href="javascript:"  (click)="open()">View More</a></p>
        </div>
      </div>

    </div>
  </div>

</div>

<kendo-window withBackdrop
              title="Reference"
  *ngIf="opened"
  (close)="close()"
  [width]="1000"
>

  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda delectus, deleniti id illo laboriosam neque porro quaerat vitae. Aperiam earum est id, iusto veniam voluptate. Alias commodi impedit iure iusto maxime, molestias necessitatibus praesentium quisquam repellat repellendus, similique vel voluptatem. Aliquam architecto at atque dolores eligendi explicabo, ipsa iste, libero maxime nam nemo provident qui temporibus totam voluptatum? Consectetur dolores minima modi numquam reprehenderit.


</kendo-window>
<div class="k-overlay" *ngIf="opened"></div>