<div>
    <div class="row">
      <div class="col-12">
        <app-view-heading
          [title]="'Introduction'"
        ></app-view-heading>
  
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h2 class="mt-0">Objectives</h2>
        <p>With the increasing use of IOT and digitalisation in manufacturing,
        it has become easier to obtain high volume of process, machine and quality measurement
        data which allows the development of machine learning based quality prediction. 
        However, with the huge volume of data, it is important to identify suitable 
        input parameters as features to the model so that
        </p>
        <ul>
          <li>machine learning algorithm can be trained faster</li>
          <li>the complexity of the model is reduced and hence easier to intepret</li>
          <li>the accuracy of the prediction is improved if the right subset of input parameters are selected</li>
          <li>the problem of overfitting is reduced</li>
        </ul>
        <p>
        The tasks in WP 3.1 involves developing a feature selection algorithm that could identify input 
        parameters from high dimensional and large-scale mixed-type datasets to facilitate
        the building of accurate quality prediction model 
        </p>
      </div>
    </div>


    <div class="row">
      <div class="col-12 mt-4">
        <h2>Outcomes</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-6 col-md-6 d-flex">
        <div class="introduction-component content">
          <h3>Select Relevant Features For Quality Prediction</h3>
          <p>Reduce and select the appropriate features that correlate to product quality from high dimensional 
              and large-scale mixed-type datasets</p>
          <p>
          </p>
        </div>  
      </div>

      <div class="col-12 col-lg-6 col-md-6 d-flex">
        <div class="introduction-component content">
          <h3>Reduced Computational Cost</h3>
          <p>Reduce computational cost between the proposed 
            method and conventional feature seelction methods</p>
        </div>  
      </div>
    </div>

    <div class="col-12 d-flex justify-content-center">        
        <a [routerLink]="['/wp31-dataset-page']"><button kendoButton [primary]="true" class="mt-4">Datasets</button></a>
      </div>

</div>
  

