.introduction {
    border-radius: 10px;
    background-color: rgb(100, 100, 100);
    color: rgb(255,255,255);
}

.content {
    /*font-weight:300;*/
    width:100%
}

.active-link {
    font-weight:700;
    color: rgb(0,160,0);
}

a, a:hover, a:focus {
    font-weight:300;
    text-decoration: none;
    color: rgb(100,100,100);
}