@import "variables";

.custom-stepper {
  .custom-step {
    margin-top: -1.75rem;
    background: $body-bg;
    width: 6rem;
    height: 6rem;
    img, .custom-default-steps {
      width: 3rem;
    }
    .custom-default-steps {
      width: 1rem;
      height: 1rem;
      margin-top: -0.5rem;
      margin-left: auto;
      margin-right: auto;
      background: $body-bg;
      border: 0.1rem $gray-600 solid;
      border-radius: 50%;
    }
  }

  .custom-step-label {
    width: 15rem;
    white-space: break-spaces;
  }


  .selected {
    font-weight: bolder;
    //font-size: 1.25rem;
    border-bottom: 5px solid $primary;
  }

}


