<div class="k-overlay" *ngIf="showSelectedFeatures"></div>

<kendo-window
  title={{lotListTitle}}
  *ngIf="showSelectedFeatures"
  (close)="closeSelectedFeaturesWindow()"
  [minWidth]="250"
  [width]="900"
  [top]="windowTop"
  [(left)]="windowLeft"
>

  <kendo-grid
    [kendoGridBinding]="algoPerformance"
    kendoGridSelectBy="id"
    [height]="500"
  >
    <kendo-grid-column field="Algorithm" title="Algorithm"
                       [width]="100"
                       [headerStyle]="{'text-align': 'left'}"
                       [style]="{'text-align': 'left'}"
    ></kendo-grid-column>
    <kendo-grid-column field="Featlist" title="Selected Features" [width]="150"
                       [headerStyle]="{'text-align': 'left'}"
                       [style]="{'text-align': 'left'}"
    ></kendo-grid-column>

    <kendo-grid-column field="F1score" title="F1 Score (%)" [width]="120"
                       [headerStyle]="{'text-align': 'left'}"
                       [style]="{'text-align': 'left'}"
    ></kendo-grid-column>


  </kendo-grid>

  <!-- <kendo-grid
      [kendoGridBinding]="selectedFeatures"
      kendoGridSelectBy="id"
      [height]="500"
  >
      <kendo-grid-column field="algorithm" title="Feature Selection Method"
          [width]="140"
          [headerStyle]="{'text-align': 'left'}"
          [style]="{'text-align': 'left'}"
      ></kendo-grid-column>
      <kendo-grid-column field="dataset" title="Dataset" [width]="120"
          [headerStyle]="{'text-align': 'left'}"
          [style]="{'text-align': 'left'}"
      ></kendo-grid-column>
      <kendo-grid-column field="features" title="Selected Features" [width]="100"
          [headerStyle]="{'text-align': 'left'}"
          [style]="{'text-align': 'left'}"
      ></kendo-grid-column>
      <kendo-grid-column field="f1Avg" title="F1 Average Score" [width]="100"
      [headerStyle]="{'text-align': 'left'}"
      [style]="{'text-align': 'left'}"
      ></kendo-grid-column>
      <kendo-grid-column field="accuracy" title="Accuracy" [width]="100"
      [headerStyle]="{'text-align': 'left'}"
      [style]="{'text-align': 'left'}"
      ></kendo-grid-column>

  </kendo-grid>   -->

</kendo-window>


<div>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <app-view-heading
            [title]="pageTitle"
            ></app-view-heading>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12 col-lg-12">
            <div class="row">

                <div class="col-md-12 bottom">
                    <!------------Checkbox for algorithm------------------>
                    <div class="row">
                        <kendo-label text="Algorithm"></kendo-label>
                        <div class="form-control row mt-1">
                            <div class="col-3">
                                <label class="k-label"
                                >CPPS WP 3.1 (HFS) <app-simtech-label></app-simtech-label>
                                    <input type="checkbox" [checked]="cbAlgoHybrid" kendoCheckBox name="cbHybrid" (click)="toggle('CPPS WP 3.1','algorithm')"/>
                                </label>
                            </div>
                            <div class="col-2">
                                <label class="k-label"
                                >Relief
                                <input type="checkbox" [checked]="cbAlgoRelief" kendoCheckBox name="cb" (click)="toggle('Relief', 'algorithm')"/>
                                </label>
                            </div>
                            <div class="col-2">
                                <label class="k-label"
                                >FCBF
                                <input type="checkbox" [checked]="cbAlgoFCBF" kendoCheckBox name="cb" (click)="toggle('FCBF','algorithm')"/>
                                </label>
                            </div>
                            <div class="col-2">
                                <label class="k-label"
                                >JMIM
                                <input type="checkbox" [checked]="cbAlgoJMIM" kendoCheckBox name="cb" (click)="toggle('JMIM','algorithm')"/>
                                </label>
                            </div>
                        </div>


          </div>

                    <!---------------Checkbox for dataset------------>
                    <div class="row mt-4">
                        <kendo-label text="Dataset"></kendo-label>
                        <div class="form-control row mt-1">
                            <div class="col-3">
                              <label class="k-label"
                              >Academic 1
                                <input type="checkbox" [checked]="cbDatasetColon" kendoCheckBox name="cb" (click)="toggle('Academic 1','dataset')"/>
                              </label>
                            </div>
                            <div class="col-2">
                                <label class="k-label"
                                >Academic 2
                                  <input type="checkbox" [checked]="cbDatasetDermatology" kendoCheckBox name="cb" (click)="toggle('Academic 2','dataset')"/>
                                </label>
                              </div>
                            <!-- <div class="col-2">
                              <label class="k-label"
                              >AFPD (Industrial)
                                <input type="checkbox" [checked]="cbDatasetAFPD" kendoCheckBox name="cb" (click)="toggle('AFPD','dataset')"/>
                              </label>
                            </div> -->
                            <div class="col-2">
                                <label class="k-label"
                                >Industrial
                                  <input type="checkbox" [checked]="cbDatasetAgilent" kendoCheckBox name="cb" (click)="toggle('Industrial', 'dataset')"/>
                                </label>
                              </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-------------------Show F1 Score Chart------------------>
    <div class="row mt-4">
      <div class="col-12">
            <div class="row">
              <div class="col-12 col-md-8">
                <h2 class="mt-0">F1 Score Chart</h2>
                <section class="chart">
                    <kendo-chart style="height:20rem">
                        <kendo-chart-title class="vh-70" text="F1 Score Using SVM Classifier For Different Algorithm & Datasets"></kendo-chart-title>

              <kendo-chart-value-axis>
                <kendo-chart-value-axis-item
                  [title]="{ text: 'Avg F1 Score' }"
                >
                </kendo-chart-value-axis-item>
              </kendo-chart-value-axis>

              <kendo-chart-category-axis>
                <kendo-chart-category-axis-item [categories]="algoCategories">
                </kendo-chart-category-axis-item>
              </kendo-chart-category-axis>

              <kendo-chart-series>
                <kendo-chart-series-item
                  type="column"
                  [gap]="1"
                  [spacing]="0.1"
                  *ngFor="let series of chartData" [name]="series.name" [data]="series.data"
                >
                  <kendo-chart-series-item-labels [format]="n2">
                  </kendo-chart-series-item-labels>
                </kendo-chart-series-item>
              </kendo-chart-series>

              <kendo-chart-legend
                position="bottom"
                orientation="horizontal"
              >

              </kendo-chart-legend>

            </kendo-chart>
                </section>
              </div>

              <div class="col-12 col-md-4 d-flex flex-column justify-content-between">

                <div>
                  <h2 class="mt-0">Analysis</h2>
                  <div>
                    <h3 class="mt-0">Comparison of HFS with Best Benchmark Algorithm</h3>
                    <p>
                      Compared with the best performance on each dataset our method improves the F1-Score by 1%- 5%,
                      with an average improvement of 3%.
                    </p>
                  </div>

                  <div class="mt-5">
                    <h3 class="fw-bolder">Comparison of HFS using average F1 score of all benchmark algorithms</h3>
                    <p>
                      Compared with the average performance of the 3 benchmark algorithms for each dataset,
                      our method improves the F1-Score by 3.6%- 6.3%, with an average improvement of 5.25%.
                    </p>
                  </div>
                </div>

              </div>
            </div>
      </div>
    </div>

</div>


<div class="row mt-4 col-lg-8">
  <span>
    F1 Score: a metric to measure the quality of a classification model by considering
    the precision and recall.  Compared to accuracy, F1 score is used if the number of
    data points that belong to each classification class is highly unbalanced
  </span>
</div>


    <div class="mt-4 col-8 justify-content-center">
      <div class="row">
        <button class="col-2 p-1" kendoButton (click)="runAFPD()">Run Dataset</button>
        <span class="col-4" style="margin-top: 0.5%; margin-bottom: 0.5%;" (click)="showAFPDResults()">See Results</span>
      </div>
    </div>

<div class="col-12 d-flex justify-content-center">
    <a [routerLink]="['/wps-algorithm-page']"><button kendoButton class="button mt-4 me-4 low-emphasis" kendoButton >Algorithms</button></a>
    <a [routerLink]="['/wps-conclusion-page']"><button kendoButton [primary]="true" class="mt-4">Conclusion</button></a>
</div>



