<div>
  <div class="row">
    <div class="col-12">
      <app-view-heading
        [title]="'Overview: CPPS is a more efficient solution  '"
      ></app-view-heading>
      <p class="objective-text">This objective of the project is to determine the root cause of the impending failure and provides the best maintenance action to optimize the total cost.  </p>

    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="mt-1">How It Works</h2>
    </div>

    <div class="col-12  d-flex justify-content-center">
      <app-overview-stepper class="w-100" [steps]="steps" [currentStep]="current" (onCurrentChange)="onCurrentChange($event)"  ></app-overview-stepper>

    </div>
  </div>

  <div class="row mt-4 p-4  pt-2  details-panel" *ngIf="current === 0">
    <div class="col-12">
      <h3 class="mb-1">Description</h3>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores, beatae dolores incidunt iste itaque minima molestias nihil nisi, officia quas quibusdam sint ullam veniam.</span>
    </div>
    <div class="col-12 col-md-4 ">
      <div class="">
        <h3>Problem</h3>

        <div class="d-flex justify-content-between">
          <img class="details-image" src="/assets/img/risk.png" alt="">
          <p class="ms-3 me-3">
            The current state-of-art solutions have long training time and the model cannot be reused.
          </p>
        </div>
      </div>

    </div>
    <div class="col-12 col-md-4 ">
      <div class="">
        <h3>Capabilities</h3>
        <div class="d-flex justify-content-between">
          <img class="details-image" src="/assets/img/link.png" alt="">
          <p class="ms-3 me-3">
            Using offline reinforcement learning makes it possible to learn the optimum maintenance policy from historical data.

          </p>
        </div>

      </div>

    </div>
    <div class="col-12 col-md-4 ">

      <div class="">
        <h3>Benefits</h3>

        <div class="d-flex justify-content-between">
          <img class="details-image" src="/assets/img/thumbs.png" alt="">
          <ol class="me-3">
            <li class="ps-1">
              Reusable Methods when new dataset is provided
            </li>
            <li class="mt-3 ps-1">
              Faster Training Time
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4 p-4 pt-2 details-panel" *ngIf="current === 1">
    <div class="col-12 col-md-4 ">
      <div class="">
        <h3>Problem</h3>

        <div class="d-flex justify-content-between">
          <img class="details-image" src="/assets/img/risk.png" alt="">
          <p class="ms-3 me-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium corporis dolore fugit hic iste nam, praesentium quam quod repellendus sed.
          </p>
        </div>
      </div>

    </div>
    <div class="col-12 col-md-4 ">
      <div class="">
        <h3>Capabilities</h3>
        <div class="d-flex justify-content-between">
          <img class="details-image" src="/assets/img/link.png" alt="">
          <p class="ms-3 me-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores harum illum qui tempora! Necessitatibus?

          </p>
        </div>

      </div>

    </div>
    <div class="col-12 col-md-4 ">
      <div class="">
        <h3>Benefits</h3>

        <div class="d-flex justify-content-between">
          <img class="details-image" src="/assets/img/thumbs.png" alt="">
          <ol class="me-3">
            <li class="ps-1">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae blanditiis id in optio pariatur quae sed!
            </li>
            <li class="mt-3 ps-1">
              Lorem ipsum dolor sit amet, consectetur.
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-4 offset-4 d-flex justify-content-center align-items-center">
      <button class="button k-button k-primary " [routerLink]="['/outcome-new']">View Overall Outcomes</button>
      <a class="anchor-button ms-3" [routerLink]="['/results']">View Results</a>
    </div>

  </div>
</div>
