<div>
    <div class="row">
      <div class="col-12">
        <app-view-heading
          [title]="'Dataset'"
        ></app-view-heading>
  
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h2 class="mt-0">Description</h2>
      </div>

      <div class="col-12 col-md-6 d-flex">
        <div class="introduction-component">
          <h3>Colon (Academic Dataset 1) </h3>
          <p><span style="font-weight:bold">Domain: </span>Medical</p>          
          <p><span style="font-weight:bold">Inputs: </span>
            2000 binary features and 62 samples. The features (inputs) represent the colon cancer gene expression data
          </p>
          <p><span style="font-weight:bold">Output: </span>
            Binary classification task, diagnostic result for each sample (abnormal or normal)
          </p>          
        </div>
      </div>

      <div class="col-12 col-md-6 d-flex">
        <div class="introduction-component">
          <h3>Agilent (Industry Dataset 1)</h3>
          <p><span style="font-weight:bold">Domain: </span>Bioinstrumentation Manufacturing </p>          
          <p><span style="font-weight:bold">Inputs: </span>
            1458 samples with 248 features. Each sample represents a product. 
            200 features are numerical and 48 features are categorical (binary, pass or fail). 
            The features are pre-testing results and machining device parameters
          </p>
          <p><span style="font-weight:bold">Output: </span>
            Classification task to predict product product: Good (3), Marginal (2), and Poor (1).
 

          </p>
        </div>
      </div>

      <div class="col-12 col-md-6 mt-4 d-flex">
        <div class="introduction-component">
          <h3>Dermatology (Academic Dataset 2)</h3>
          <p><span style="font-weight:bold">Domain: </span>Medical</p>          
          <p><span style="font-weight:bold">Inputs: </span>
            34 features and 365 samples. Among the features, 33 are linear valued and 
            one of them is nominal. The features (inputs) are the clinical records of 
            the patients
          </p>
          <p><span style="font-weight:bold">Output: </span>
            Multi-class classification task, target (output) is diagnosis of erythemato-squamous disease into 6 types(psoriasis, seboreic dermatitis, lichen planus, 
            pityriasis rosea, cronic dermatitis, and pityriasis rubra pilaris)
          </p>
        </div>      
      </div>

      <!-- <div class="col-12 col-md-6 mt-4 d-flex">
        <div class="introduction-component">
          <h3>AFPD (Industrial Dataset 2)</h3>
          <p><span style="font-weight:bold">Domain: </span>LCD Manufacturing</p>          
          <p><span style="font-weight:bold">Inputs: </span>
            819 numerical features and 280 samples. Each sample consists of sensor-captured data
            of a product
          </p>
          <p><span style="font-weight:bold">Output: </span>
            Binary classification task to predict the outcome (pass as 1, fail as 2)
          </p>
        </div>
      </div> -->

      <div class="col-12 d-flex justify-content-center">
        <a [routerLink]="['/wp31-introduction-page']"><button kendoButton class="button mt-4 me-4 low-emphasis" kendoButton >Back</button></a>
        <a [routerLink]="['/wp31-hfs-page']"><button kendoButton [primary]="true" class="mt-4">View Results</button></a>
      </div>
    </div>
  </div>
  