.active-link {
    font-weight:700;
    color: rgb(0,160,0);
}

a, a:hover, a:focus {
    font-weight:300;
    text-decoration: none;
    color: inherit;
}

.bottom {
    position:relative;                
    top: 50%;
}