<div class="k-overlay" *ngIf="showSelectedFeatures"></div>

<kendo-window
    title={{lotListTitle}}
    *ngIf="showSelectedFeatures"
    (close)="closeSelectedFeaturesWindow()"
    [minWidth]="250" 
    [width]="900"   
    [top]="windowTop"
    [(left)]="windowLeft"
>

    <kendo-grid
    [kendoGridBinding]="algoPerformance"
    kendoGridSelectBy="id"               
    [height]="500"
    >
    <kendo-grid-column field="Algorithm" title="Algorithm" 
        [width]="100"
        [headerStyle]="{'text-align': 'left'}"
        [style]="{'text-align': 'left'}"
    ></kendo-grid-column>
    <kendo-grid-column field="Featlist" title="Selected Features" [width]="150"
        [headerStyle]="{'text-align': 'left'}"
        [style]="{'text-align': 'left'}"
    ></kendo-grid-column>

    <kendo-grid-column field="F1score" title="F1 Score (%)" [width]="120"
    [headerStyle]="{'text-align': 'left'}"
    [style]="{'text-align': 'left'}"        
    ></kendo-grid-column>


    </kendo-grid>  

    <!-- <kendo-grid
        [kendoGridBinding]="selectedFeatures"
        kendoGridSelectBy="id"               
        [height]="500"
    >
        <kendo-grid-column field="algorithm" title="Feature Selection Method" 
            [width]="140"
            [headerStyle]="{'text-align': 'left'}"
            [style]="{'text-align': 'left'}"
        ></kendo-grid-column>
        <kendo-grid-column field="dataset" title="Dataset" [width]="120"
            [headerStyle]="{'text-align': 'left'}"
            [style]="{'text-align': 'left'}"
        ></kendo-grid-column>
        <kendo-grid-column field="features" title="Selected Features" [width]="100"
            [headerStyle]="{'text-align': 'left'}"
            [style]="{'text-align': 'left'}"        
        ></kendo-grid-column>
        <kendo-grid-column field="f1Avg" title="F1 Average Score" [width]="100"
        [headerStyle]="{'text-align': 'left'}"
        [style]="{'text-align': 'left'}"        
        ></kendo-grid-column>
        <kendo-grid-column field="accuracy" title="Accuracy" [width]="100"
        [headerStyle]="{'text-align': 'left'}"
        [style]="{'text-align': 'left'}"        
        ></kendo-grid-column>

    </kendo-grid>   -->

</kendo-window>


<div>

    <div class="row">
        <!-- <div>
            <h4>
                <a routerLink="/wp31-introduction-page" routerLinkActive="active-link">Introduction</a> 
                <span class="k-icon k-i-arrow-60-right"></span>
                <a routerLink="/wp31-dataset-page" routerLinkActive="active-link">Dataset</a>
                <span class="k-icon k-i-arrow-60-right"></span>
                <a routerLink="/wp31-hfs-page" routerLinkActive="active-link">Solution</a>
                <span class="k-icon k-i-arrow-60-right"></span>
                <a routerLink="/wp31-results-page" routerLinkActive="active-link">Results</a>
            </h4>
        </div> -->
        <div class="col-lg-12 col-md-12">
            <app-view-heading 
            [title]="pageTitle"                      
            ></app-view-heading>    
        </div>        
    </div>

    <div class="row">
        <!-- <div class="col-md-5">
            <div class="row">
                <img src="../assets/img/results.png">
            </div>
        </div> -->

        <div class="col-md-12 col-lg-12">
            <div class="row">
                <!-- <div class="col-md-12 col-lg-12">
                    <button class="m-2" kendoButton (click)="showSelectedFeaturesTable()">Show Selected Features</button>
                </div> -->

                <!-------------algorithm kendo grid--------->
                <!-- <div class="col-md-6">
                    
                    <kendo-grid
                        [kendoGridBinding]="algorithmList"
                        kendoGridSelectBy="id"           
                        [resizable]="true"                                       
                    >  
            
                        <kendo-grid-column field="algorithm" title="Algorithm" 
                            [width]="200"
                            [headerStyle]="{
                                'border-width': '0px 0px 5px 0px',
                                'border-color': '#11AADD',                        
                                'text-align': 'left'
                                }"
                            [style]="{
                                'text-align': 'left',
                                'border-width': '0px 0px 0px 0px'
                            }"
                        >
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <div>{{ dataItem.algoName }}</div>
                            </ng-template>
                        </kendo-grid-column>
    
                        <kendo-grid-column field="algorithmChecked" title="" [width]="50"
                            [headerStyle]="{
                                'border-width': '0px 0px 5px 0px',
                                'border-color': '#11AADD',                            
                                'text-align': 'left'}"
                            [style]="{
                                'border-width': '0px 0px 0px 0px'
                            }"
                            >
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <label class="k-label">
                                    <input type="checkbox" (click)="toggle(dataItem, 'algorithmChecked')"/>
                                </label>
                            </ng-template>
                        </kendo-grid-column> 
    
                    </kendo-grid> 
                    
                </div>                 -->

                <!-------------dataset kendo grid--------->
                <!-- <div class="col-md-6">
                    <kendo-grid
                    [kendoGridBinding]="datasetList"
                    kendoGridSelectBy="id"           
                    [resizable]="true"                                    
                    >  
                        <kendo-grid-column field="dataset" title="Dataset" [width]="200"            
                            [headerStyle]="{
                                'border-width': '0px 0px 5px 0px',
                                'border-color': '#11AADD',
                                'text-align': 'left'}"
                            [style]="{
                                'text-align': 'left',
                                'border-width': '0px 0px 0px 0px'
                            }"        
                        >
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <div>{{ dataItem.datasetName }}</div>
                            </ng-template>
                        </kendo-grid-column>   
                        
                        <kendo-grid-column field="datasetChecked" title="" [width]="50"
                            [headerStyle]="{                      
                                'border-width': '0px 0px 5px 0px',
                                'border-color': '#11AADD',
                                'text-align': 'left'
                            }"                   
                            [style]="{
                                'border-width': '0px 0px 0px 0px'
                            }"
                        >
                            <ng-template kendoGridCellTemplate let-dataItem>
                                <input type="checkbox" (click)="toggle(dataItem.datasetName, 'datasetChecked')" [checked]="dataItem.selected"/>
                            </ng-template>
                        </kendo-grid-column> 

                    </kendo-grid>  
                </div>        -->

                <!------------Checkbox for algorithm------------------>
                <div class="col-md-12 bottom">
                    <div class="row">
                        <kendo-label text="Algorithm"></kendo-label>
                        <div class="form-control row mt-1">
                            <div class="col-2">
                                <label class="k-label"
                                >CPPS WP 3.1 (HFS) <app-simtech-label></app-simtech-label>
                                    <input type="checkbox" [checked]="cbAlgoHybrid" kendoCheckBox name="cbHybrid" (click)="toggle('CPPS WP 3.1','algorithm')"/>
                                </label>
                            </div>                             
                            <div class="col-2">
                                <label class="k-label"
                                >Relief
                                <input type="checkbox" [checked]="cbAlgoRelief" kendoCheckBox name="cb" (click)="toggle('Relief', 'algorithm')"/>
                                </label>
                            </div>
                            <div class="col-2">
                                <label class="k-label"
                                >FCBF
                                <input type="checkbox" [checked]="cbAlgoFCBF" kendoCheckBox name="cb" (click)="toggle('FCBF','algorithm')"/>
                                </label>
                            </div>
                            <div class="col-2">
                                <label class="k-label"
                                >JMIM
                                <input type="checkbox" [checked]="cbAlgoJMIM" kendoCheckBox name="cb" (click)="toggle('JMIM','algorithm')"/>
                                </label>
                            </div>             
                        </div>

                        
                    </div>

                    <!---------------Checkbox for dataset------------>
                    <div class="row mt-4">
                        <kendo-label text="Dataset"></kendo-label>
                        <div class="form-control row mt-1">
                            <div class="col-2">
                              <label class="k-label"
                              >Colon (Academic)
                                <input type="checkbox" [checked]="cbDatasetColon" kendoCheckBox name="cb" (click)="toggle('Colon','dataset')"/>
                              </label>
                            </div>
                            <div class="col-2">
                                <label class="k-label"
                                >Dermatology (Academic)
                                  <input type="checkbox" [checked]="cbDatasetDermatology" kendoCheckBox name="cb" (click)="toggle('Dermatology','dataset')"/>
                                </label>
                              </div>                             
                            <!-- <div class="col-2">
                              <label class="k-label"
                              >AFPD (Industrial)
                                <input type="checkbox" [checked]="cbDatasetAFPD" kendoCheckBox name="cb" (click)="toggle('AFPD','dataset')"/>
                              </label>
                            </div> -->
                            <div class="col-2">
                                <label class="k-label"
                                >Agilent (Industrial)
                                  <input type="checkbox" [checked]="cbDatasetAgilent" kendoCheckBox name="cb" (click)="toggle('Agilent', 'dataset')"/>
                                </label>
                              </div>
                          </div>
                    </div>
                </div>
            </div>


        </div>
    </div>



    <!-------------------Show F1 Score Chart------------------>
    <div class="row mt-4">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-8">
                <h2 class="mt-0">F1 Score Chart</h2>
                <section class="chart">
                    <kendo-chart>
                        <kendo-chart-title class="vh-70" text="F1 Score Using SVM Classifier For Different Algorithm & Datasets"></kendo-chart-title>
                        
                        <kendo-chart-value-axis>
                            <kendo-chart-value-axis-item
                            [title]="{ text: 'Avg F1 Score' }"
                            >
                            </kendo-chart-value-axis-item>
                        </kendo-chart-value-axis>
                        
                        <kendo-chart-category-axis>
                        <kendo-chart-category-axis-item [categories]="algoCategories">
                        </kendo-chart-category-axis-item>
                        </kendo-chart-category-axis>
                        
                        <kendo-chart-series>
                        <kendo-chart-series-item
                            type="column"
                            [gap]="1"
                            [spacing]="0.1"
                            *ngFor="let series of chartData" [name]="series.name" [data]="series.data" 
                            >
                                <kendo-chart-series-item-labels [format]="n2">
                                </kendo-chart-series-item-labels>
                            </kendo-chart-series-item>                              
                        </kendo-chart-series>
                    
                        <kendo-chart-legend
                            position="bottom"
                            orientation="horizontal"
                        >
            
                        </kendo-chart-legend>
                    
                    </kendo-chart>
                </section>
                </div>

                <div class="col-12 col-md-4 d-flex flex-column justify-content-between">

                    <div>
                        <h2 class="mt-0">Analysis</h2>
                        <div>
                        <h3 class="mt-0">Comparision of HFS with Best Benchmark Algorithm</h3>
                        <p>
                            Compared with the best performance on each dataset our method improves the F1-Score by 1%- 5%, 
                            with an average improvement of 3%. 
                        </p>
                        </div>

                        <div class="mt-5">
                        <h3 class="fw-bolder">Comparision of HFS using average F1 score of all benachmark algorithms</h3>
                        <p>
                            Compared with the average performance of the 3 benchmark algorithms for each dataset, 
                            our method improves the F1-Score by 3.6%- 6.3%, with an average improvement of 5.25%.
                        </p>
                        </div>
                    </div>
                    <!-- <div>
                        <p>Note: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, doloribus enim exercitationem nam necessitatibus neque placeat quas sint voluptate! Adipisci assumenda cum doloremque eum facilis iste laboriosam reiciendis saepe sint.</p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
        
    <div>

    <div class="mt-4 col-12 justify-content-center">
        <div class="row">
            <button class="col-lg-4" kendoButton (click)="runAFPD()">Run Using Industrial Dataset (LCD Manufacturing)</button>
            <span class="col-lg-2" style="margin-top: 0.5%; margin-bottom: 0.5%;" (click)="showAFPDResults()">See Results</span>
        </div>         
    </div>


    <div class="col-12 d-flex justify-content-center">
        <a [routerLink]="['/wp31-hfs-page']"><button kendoButton class="button mt-4 me-4 low-emphasis" kendoButton >Back</button></a>
        <a [routerLink]="['/wp31-conclusion-page']"><button kendoButton [primary]="true" class="mt-4">Conclusion</button></a>
    </div>

</div>

