<div>
  <div class="row">
    <div class="col-12">
      <app-view-heading
        [title]="'Overview:'"
      ></app-view-heading><br>
      <p class="objective-text">The objective of the project is develop a feature selection algorithm that can automatically or semi-automatically identifies the key process parameters from high dimensional and large scale mixed type datasets to build high accuracy quality prediction models.
      </p>

    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="mt-1">How It Works</h2>
    </div>

    <!--    <div class="col-12  d-flex justify-content-center">-->
    <!--      <app-overview-stepper class="w-100" [steps]="steps" [currentStep]="current" (onCurrentChange)="onCurrentChange($event)"  ></app-overview-stepper>-->

    <!--    </div>-->
  </div>

  <div class="row  p-4 pt-2 details-panel" >
    <div class="col-12">
      <h3 class="mb-1">Description</h3>
      <span>The tasks in WP 3.1 involves developing a feature selection algorithm that could accurately identify major process and machine parameters with high correlation to influence product quality for autonomous root cause analysis.</span>
    </div>
    <div class="col-12 col-md-4 ">
      <div class="">
        <h3>Problem</h3>

        <div class="d-flex justify-content-between">
          <img class="details-image" src="assets/img/risk.png" alt="">
          <p class="ms-3 me-3">
            In complex manufacturing processes, it is a constant challenge to identify the critical processes or machine parameters from multi dimensional and large-scale mixed-type datasets to derive the causes of product failure.

        </div>
      </div>

    </div>
    <div class="col-12 col-md-4 ">
      <div class="">
        <h3>Capabilities</h3>
        <div class="d-flex justify-content-between">
          <!--          <img class="details-image" src="assets/img/link.png" alt="">-->
          <div class="me-3">
            <span class="fw-bolder"> Select Relevant Features For Quality Prediction </span><br><br>
            Select the appropriate features that correlate to product quality from high dimensional
            and large-scale mixed-type datasets<br><br>

            <!--<span class="fw-bolder">Transfer and Multi-task Optimization</span><br>
            Transfer and adaptive reuse of knowledge from related uncertain conditions to speedup the target optimization search. -->

          </div>
        </div>

      </div>

    </div>
    <div class="col-12 col-md-4 ">

      <div class="">
        <h3>Benefits</h3>

        <div class="d-flex justify-content-between">
          <img class="details-image" src="assets/img/thumbs.png" alt="">
          <ol class="me-3">
            <li class="ps-1">
              Autonomous root cause analysis
            </li>
            <li class="mt-3 ps-1">
              Improve predictive modeling accuracy
            </li>
            <li class="mt-3 ps-1">
              Reduce computational cost
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-4 offset-4 d-flex justify-content-center align-items-center">
      <button class="button k-button k-primary " [routerLink]="['/wps-outcomes-page']">View Overall Outcomes</button>
      <a class="anchor-button ms-3" [routerLink]="['/wps-results-page']">View Results</a>
    </div>

  </div>
</div>
