<div>
    <div class="row">
      <div class="col-12">
        <app-view-heading
          [title]="'Conclusion'"
        ></app-view-heading>
  
      </div>
    </div>

  
  
    <div class="row">
        <div class="col-12 col-lg-6 col-md-6 d-flex">
            <div class="introduction-component content">
            <h3>Higher Prediction Accuracy </h3>
            <p>Higher prediction accuracy of 3% to 5% compared with the benchmarking algorithms of Relief-F, FCBF and JMIM</p>
            <p>
            </p>
            </div>  
        </div>

        <div class="col-12 col-lg-6 col-md-6 d-flex">
            <div class="introduction-component content">
            <h3>Lower Computational Cost</h3>
            <p>Conventional wrapper method which suffers from exponential computational complexity, 
            the computational complexity of the proposed method is quadratic in total feature number. 
            This is because the proposed method combines Relief-F and FCBF at the initial step which 
            effectively avoids unnecessary searching. In this way, it extremely reduces the computational cost, 
            especially for high dimensional manufacturing data</p>
            </div>  
        </div>
    </div>
  

</div>
  



