<div>
  <div class="row">
    <div class="col-12">
      <app-view-heading
        [title]="'Introduction'"
      ></app-view-heading>

    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="mt-0">Objectives</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, consequatur cupiditate ea quasi quis ratione sint.
        Asperiores at delectus dignissimos doloribus ducimus esse eveniet fugit harum illo.
      </p>
    </div>

    <div class="col-12 mt-4">
      <h2>Outcomes</h2>
    </div>

    <div class="col-12 col-md-4 ">
      <div class="introduction-component">
        <h3>Reduce Cost</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, consequatur cupiditate ea quasi quis ratione sint.
          Asperiores at delectus dignissimos doloribus ducimus esse eveniet.
        </p>
      </div>

    </div>
    <div class="col-12 col-md-4">
      <div class="introduction-component">
        <h3>Reduce Manpower</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, consequatur cupiditate ea quasi quis ratione sint.
          Asperiores at delectus dignissimos doloribus ducimus esse eveniet.
        </p>
      </div>

    </div>
    <div class="col-12 col-md-4">
      <div class="introduction-component">
        <h3>Increase Productivity</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, 
          consequatur cupiditate ea quasi quis ratione sint.
          Asperiores at delectus dignissimos doloribus ducimus esse eveniet.
        </p>

      </div>
    </div>

    <div class="col-12 mt-4">
      <h2>Dataset</h2>
    </div>

    <div class="col-12 col-md-6">
      <div class="introduction-component">
        <h3>Model Factory</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, consequatur cupiditate ea quasi quis ratione sint.</p>
        <button kendoButton [primary]="true" class="w-100 mt-4">Choose</button>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="introduction-component">
        <h3>Industry(Med Tech)</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, consequatur cupiditate ea quasi quis ratione sint.</p>
        <button kendoButton [primary]="true" class="w-100 mt-4">Choose</button>
      </div>
    </div>

<!--    <div class="col-12 col-md-4">-->
<!--      <div class="introduction-component">-->
<!--        <h3>Gold Standard</h3>-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, consequatur cupiditate ea quasi quis ratione sint.</p>-->
<!--        <button kendoButton [primary]="true" class="w-100 mt-4">Choose</button>-->
<!--      </div>-->

<!--    </div>-->

  </div>
</div>

<!--<div>-->
<!--  <div class="row">-->
<!--    <div class="col-12">-->
<!--      <app-view-heading-->
<!--        [title]="'Dataset'"-->
<!--      ></app-view-heading>-->

<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-12">-->
<!--      <h2>Project Information</h2>-->
<!--    </div>-->

<!--    <div class="col-12 col-md-4">-->
<!--      <div class="introduction-component">-->
<!--        <h2>Academic</h2>-->
<!--        <p>-->
<!--          Using Model Factory Injection Molding machine streaming data to demo equipment failure prediction through advanced feature selection alogrithm.-->
<!--        </p>-->
<!--        <button kendoButton [primary]="true" class="w-100">Choose</button>-->
<!--      </div>-->

<!--    </div>-->
<!--    <div class="col-12 col-md-4">-->
<!--      <div class="introduction-component">-->
<!--        <h2>Industry</h2>-->
<!--        <p>-->
<!--          Using Agilent data to demo high dimensional data reduction for QMF quality prediction through hybrid feature selection method.-->
<!--        </p>-->
<!--        <button kendoButton [primary]="true" class="w-100">Choose</button>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->

