/* You can add global styles to this file, and also import other style files */

// Set the variables before
@import "variables";
@import "base";
@import "components";
@import "~@progress/kendo-theme-bootstrap/dist/all.scss";
@import "darktheme";
@import "~bootstrap/scss/bootstrap-grid.scss";


section.chart {

  border: $border-100;
  border-radius: $border-radius;
  //padding: 0.5rem;

}


// Overwrite button styling in KendoUI's grid command column
.k-command-cell button, .dark-mode .k-command-cell button{
  background: none;
  padding: 0;
  border: none;

  &:hover {
    background: none;
  }
}

.k-dialog-content {
  text-align: center;
  .Indicator{
    text-align: left;
  }
}

.k-dialog-wrapper{
  z-index: 100000;
}

// override here as the styling seems to have problem
.k-datetime-selector, .dark-mode .k-datetime-selector {
  .k-calendar-view {
    padding: 0;
  }
  .k-today {
    margin: 0.375rem 0.75rem
  }
}

.k-textarea {
  width: 100%
}

//for hovering
.next-option {
  margin-left: 1rem;
  width: 1rem;
  margin-bottom: 0;
  padding: 0;
  font-size: $font-size-h3;
  &:hover{
    cursor: pointer;
  }
}
//arrow for more deets
.component-click-more-detail:hover {
    cursor: pointer;
    box-shadow: $shadow-200;
  }

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 ;
  justify-content: space-between;
  margin-bottom: 0%;
}


.form-control{
  &.k-widget, &.k-maskedtextbox, &.k-textbox {
    width: 100%;
  }
}


kendo-upload-action-buttons.k-actions.k-actions-end {
  flex-direction: row-reverse;
}

//prevent notification message from spilling outside of container
.k-notification-content {
  word-break: break-all;
}


.dis-custom-menu-bar {

  &.k-panelbar{
    background: none;
    border: none;

    .k-item {
      border: none;
    }

    .k-link:hover{
      cursor: pointer;
    }

    > .k-item > .k-link, .k-panelbar > .k-panelbar-header > .k-link {
      background-color: inherit;
    }

    > .k-item > .k-link.k-state-selected, .k-panelbar > .k-panelbar-header > .k-link.k-state-selected {
      background-color: inherit;
    }

    .dis-custom-panelbar-item{
      > .k-link {
        padding-left: 0 !important;

        &.k-state-focused, &.k-state-selected  {
          box-shadow: none !important;
        }

        &:hover {
          cursor: pointer;
          background: none !important;
        }

        .k-panelbar-toggle{
          color: $white !important;
        }
      }

      .dis-custom-panelbar-child{
        >.k-link {
          display: block;
          padding: 0.75rem 1rem;
          border-radius: $border-radius;
          transition: $transition-100;
        }
      }

      .dis-custom-panelbar-child, &{
        &.active {
          >.k-link{
            color: inherit;
            background: $gray-700;
            box-shadow: inset 0 -0.1rem 0 0 $primary;

            &:focus, &:focus.k-state-selected ,&.k-state-selected, &.k-state-focus.k-state-selected, &.k-state-focused.k-state-selected {
              color: inherit;
              background: $gray-700;
              box-shadow: inset 0 -0.1rem 0 0 $primary;
            }
          }
        }
        >.k-link{
          &:hover{
            cursor: pointer;
          }

          &:focus, &:focus.k-state-selected ,&.k-state-selected, &.k-state-focus.k-state-selected, &.k-state-focused.k-state-selected {
            color: inherit;
            background: inherit;
            box-shadow: none;
          }

          a {
            color: $gray-300;
            text-decoration: none;
          }
          &:hover{
            background: #393947;
            color: inherit;
          }
        }
      }

      >.k-header{
        background: none;
        border: none;
        margin: 0;
        color: #cbcbd6;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 0.875rem;
        padding: 0.75rem 0rem;

        &:hover {
          background: none;
        }

        &.k-link{
          padding: 0.75rem 0rem;

          &.k-state-selected,  &:focus, &.k-state-selected:focus, &.k-state-focused {
            background: none;
            box-shadow: none;
          }
        }
      }

    }
  }


}


// Horizontal Menu
.k-menu-popup {
  margin-top: 0.5rem;
  padding: 0;
}

.k-menu-item {
  padding: 0.5rem 0;
}

.k-menu-group {
  padding: 0;
}

// mobile menu
.mobile-navigation {
  .k-bottom-nav-item {
    padding: 0.5rem;
  }
  .k-icon {
    font-size: 2rem !important;
  }

}

.isMobile {
  &::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in red */
  &::-webkit-scrollbar-thumb {
    background: #FF0000;
  }
}

.info {
  .k-window-titlebar {
    background: $white;

  }
}

.error {
  .k-window-titlebar, .k-button.k-primary {
    background: $error;
    color: $white;
  }
}

.success {
  .k-window-titlebar{
    background: $primary;
    color: $white;
  }
}

.warning {
  .k-window-titlebar, .k-button.k-primary{
    background: $warning;
    color: $white;
  }
}


.k-icon {
  font-size: 1rem;
}

.vh-10 {
  height: 10vh !important;
}
.vh-20 {
  height: 20vh !important;
}
.vh-30 {
  height: 30vh !important;
}
.vh-40 {
  height: 40vh !important;
}
.vh-50 {
  height: 50vh !important;
}
.vh-60 {
  height: 60vh !important;
}
.vh-70 {
  height: 70vh !important;
}
.vh-80 {
  height: 80vh !important;
}
.vh-90 {
  height: 90vh !important;
}


@include media-breakpoint-up(sm) {
  .vh-sm-10 {
  height: 10vh !important;
  }
  .vh-sm-20 {
    height: 20vh !important;
  }
  .vh-sm-30 {
    height: 30vh !important;
  }
  .vh-sm-40 {
    height: 40vh !important;
  }
  .vh-sm-50 {
   height: 50vh !important;
  }
  .vh-sm-60 {
    height: 60vh !important;
  }
  .vh-sm-70 {
    height: 70vh !important;
  }
  .vh-sm-80 {
    height: 80vh !important;
  }
  .vh-sm-90 {
    height: 90vh !important;
  }
}
@include media-breakpoint-up(md) {
  .vh-md-10 {
    height: 10vh !important;
  }
  .vh-md-20 {
    height: 20vh !important;
  }
  .vh-md-30 {
    height: 30vh !important;
  }
  .vh-md-40 {
    height: 40vh !important;
  }
  .vh-md-50 {
    height: 50vh !important;
  }
  .vh-md-60 {
    height: 60vh !important;
  }
  .vh-md-70 {
    height: 70vh !important;
  }
  .vh-md-80 {
    height: 80vh !important;
  }
  .vh-md-90 {
    height: 90vh !important;
  }
}
@include media-breakpoint-up(lg) {
  .vh-lg-10 {
    height: 10vh !important;
  }
  .vh-lg-20 {
    height: 20vh !important;
  }
  .vh-lg-30 {
    height: 30vh !important;
  }
  .vh-lg-40 {
    height: 40vh !important;
  }
  .vh-lg-50 {
    height: 50vh !important;
  }
  .vh-lg-60 {
    height: 60vh !important;
  }
  .vh-lg-70 {
    height: 70vh !important;
  }
  .vh-lg-80 {
    height: 80vh !important;
  }
  .vh-lg-90 {
    height: 90vh !important;
  }

}
@include media-breakpoint-up(xl) {

  .vh-xl-10 {
    height: 10vh !important;
  }
  .vh-xl-20 {
    height: 20vh !important;
  }
  .vh-xl-30 {
    height: 30vh !important;
  }
  .vh-xl-40 {
    height: 40vh !important;
  }
  .vh-xl-50 {
    height: 50vh !important;
  }
  .vh-xl-60 {
    height: 60vh !important;
  }
  .vh-xl-70 {
    height: 70vh !important;
  }
  .vh-xl-80 {
    height: 80vh !important;
  }
  .vh-xl-90 {
    height: 90vh !important;
  }
}
@include media-breakpoint-up(xxl) {

  .vh-xxl-10 {
    height: 10vh !important;
  }
  .vh-xxl-20 {
    height: 20vh !important;
  }
  .vh-xxl-30 {
    height: 30vh !important;
  }
  .vh-xxl-40 {
    height: 40vh !important;
  }
  .vh-xxl-50 {
    height: 50vh !important;
  }
  .vh-xxl-60 {
    height: 60vh !important;
  }
  .vh-xxl-70 {
    height: 70vh !important;
  }
  .vh-xxl-80 {
    height: 80vh !important;
  }
  .vh-xxl-90 {
    height: 90vh !important;
  }
}

//@include media-breakpoint-up(xxxl) {
//  html {
//    font-size: 12px;
//  }
//}
//
//
//@include media-breakpoint-up(xxxl) {
//  html {
//    font-size: 16px;
//  }
//}
//
//@include media-breakpoint-up(xxxl) {
//  html {
//    font-size: 18px;
//  }
//}
//@include media-breakpoint-up(xxxxl) {
//  html {
//    font-size: 22px;
//  }
//}
//
//@include media-breakpoint-up(ultra) {
//  html {
//    font-size: 32px;
//  }
//}
//
//@include media-breakpoint-up(ultra-big) {
//   html {
//     font-size: 42px;
//   }
// }

 tr .k-icon.k-i-more-vertical:before{
  visibility: hidden;
}

tr:hover .k-icon.k-i-more-vertical:before {
  visibility: visible;

}



.k-notification-group {
  z-index: 100002;
}

a {
  color: $link-text;

 &:hover {
   color: $link-hover-text;
 }

  &:focus, &:visited {
    color: $gray-400;
  }
}

.button {
  border: solid 1px $body-text;
  background: none;

  &:hover {
    border: solid 1px $body-text;
    background: $hovered-bg;
  }

  &.low-emphasis {
    background: none;
    border: none;

    &:hover {
      color: $primary;
    }
  }
}


.introduction-component {
  background: $component-bg;
  padding: 2rem;
}

.field-title {
  font-weight: bolder;
  font-size: 1.2em;
  margin-bottom: 0.5rem;
}

.k-chart-tooltip-inverse {
  color: $component-bg;
}

.note {
  font-size: 0.9rem;
}

.k-form-hint {
  font-size: 0.7rem !important;
}

.k-form-legend {
  font-size: 1rem !important;
}

.k-stepper {
  width: 80% !important;

  .k-step-indicator {
    width: 1.5rem;
    height: 1.5rem;
  }

  .k-step-list-horizontal ~ .k-progressbar {
    top: calc(((1.5rem + 2 * 2px) / 2) + 2px / 2);
  }


  .k-step-link {
    overflow: inherit;
  }
}
.custom-stepper {
  &.k-stepper {
    width: 100% !important;
  }
  .custom-step-label {
    color:  $gray-500;
  }

  .k-step-current {
    img {
      width: 5rem !important;
    }

    .custom-step-label {
      font-weight: bolder;
      font-size: 1.25rem;
      color: $white;
    }
  }
  .k-step-last, .k-step-first{
    .custom-step {
      background: none !important;
    }

    .custom-step-label {
      color:  $gray-700;
    }
  }
}


.anchor-button{
  color: $white;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: $primary !important;
  }
}
