<div>
  <div class="row">
    <div class="col-12">
      <app-view-heading
        [title]="'Outcomes'"
      ></app-view-heading>

    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 col-md-6 d-flex">

      <app-outcome-card class="w-100 h-100" [image]="'assets/img/correlation.png'" [routerLink]="['/wps-conclusion-page']"
                        [improvementNumber]="'8x'"
                        [improvementDetails]="'Reduction in number of features'"
      ></app-outcome-card>
    </div>
    <div class="col-12 col-md-6 d-flex">
      <app-outcome-card class="w-100 h-100" [image]="'assets/img/data-classification2.png'"  [routerLink]="['/wps-conclusion-page']"
                        [improvementNumber]="'10.67%'"
                        [improvementDetails]="'Improvement in classification accuracy\n'"
      ></app-outcome-card>
    </div>

  </div>
  <!--<div class="row mt-4">
    <div class="col-4 offset-4 d-flex justify-content-center align-items-center">
      <button class="button k-button k-primary " [routerLink]="['/wps-dataset-page']">View Dataset</button>
    </div>

  </div> -->
</div> <br>

<!-- dataset area -->
<div class="dataset-div">
<app-wps-dataset-page></app-wps-dataset-page>
</div>
