<div>

    <div class="row">
        <!--<div>
            <h4>
                <a routerLink="/wp31-introduction-page" routerLinkActive="active-link">Introduction</a> 
                <span class="k-icon k-i-arrow-60-right"></span>
                <a routerLink="/wp31-dataset-page" routerLinkActive="active-link">Dataset</a>
                <span class="k-icon k-i-arrow-60-right"></span>
                <a routerLink="/wp31-hfs-page" routerLinkActive="active-link">Solution</a>
                <span class="k-icon k-i-arrow-60-right"></span>
                <a routerLink="/wp31-results-page" routerLinkActive="active-link">Results</a>
            </h4>
        </div>-->
        <div class="col-lg-12 col-md-12">
            <app-view-heading 
            [title]="pageTitle"                      
            ></app-view-heading>    
        </div>        
    </div>

    <div class="row mt-4">

        <!---------------State of the art algorithms------------->
        <div class="col-12 col-md-6 d-flex">
            <div class="introduction-component">
                <h3>CPPS WP3.1 Algorithm: Hybrid Feature Selection (HFS)</h3>
                <p>Hybrid feature selection is a proposed new method that 
                    combines the advantages of Fast Correlation Based Filtering (FCBF) method 
                    and Relief searching algorithm to reduce the high dimensionality of the 
                    input parameters while selecting features that produces high classification
                    accuracy of product quality. 
                    <br><br>
                    The industrial case study results showed 
                    that the number of features is reduced from 248 to 16 with classification 
                    accuracy of 86%.
                </p>                  
            </div>
        </div>
          
        <!--------------Benchmark 1 Relief--------------------->
        <div class="col-12 col-md-6 d-flex">
            <div class="introduction-component">
              <h3>Benchmark Algorithm 1: Relief, Yr 2021</h3>
              <p>
                ReliefF method randomly samples instances from the dataset and updates the 
                relevance of each feature based on the difference between the selected feature and 
                the two nearest instances of the same class (hit) and opposite class (miss). 
                A feature score (feature weights) for each feature can then be applied to 
                rank and select top scoring features for feature selection. 
              </p>
              <p class="note">Reference: <a href="javascript:"  (click)="open('Relief')">View More</a></p>                             
            </div>
        </div>

        <!--------------Benchmark 2 FCBF--------------------->
        <div class="col-12 col-md-6 d-flex mt-4">
            <div class="introduction-component">
                <h3>Benchmark Algorithm 2: Fast Correlation-Based Filter (FCBF), Yr 2021</h3>
                <p>
                FCBF uses symmetrical uncertainty (SU) to calculate dependencies of features and 
                the class relevance. FCBF applies a backward selection technique with a sequential 
                search strategy to remove irrelevant and redundant features, the algorithm will 
                stop when there are no more features to eliminate.
                </p>
                <p class="note">Reference: <a href="javascript:"  (click)="open('FCBF')">View More</a></p>                                            
            </div>
        </div>

        <!--------------Benchmark 3 JMIM--------------------->
        <div class="col-12 col-md-6 d-flex mt-4">
            <div class="introduction-component">
                <h3>Benchmark Algorithm 3: Joint Mutual Information Maximisation (JMIM), Yr 2021</h3>
                <p>
                    Mutual Information (MI) is the amount of information that both variables share and 
                    is a measure of the features' relevance and redundancy. JMIM selects the features 
                    that maximise the cumulative summation of Joint Mutual Information. The method uses 
                    the following iterative forward greedy search algorithm to find the relevant feature 
                    subset of size k within the feature space.
                </p>
                <p class="note">Referenc: <a href="javascript:"  (click)="open('JMIM')">View More</a></p>                             
            </div>
        </div>

    </div>

    <div class="row mt-4">
        <div class="col-12 d-flex justify-content-center">
            <video class="vh-100" controls src="/assets/hfs.mp4">
            </video>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <!--<a [routerLink]="['/wp31-dataset-page']"><button kendoButton class="button mt-4 me-4 low-emphasis" kendoButton >Back</button></a>-->
            <a [routerLink]="['/wps-results-page']"><button kendoButton [primary]="true" class="mt-4">Results</button></a>
        </div>
    </div>
</div>


<kendo-window withBackdrop
              title="Reference"
  *ngIf="openRelief"
  (close)="close('Relief')"
  [width]="600"
  [top]="200"
>
S. Yahdin, A. Desiani, N. Gofar and K. Agustin, 
“Application of the Relief-f Algorithm for Feature Selection in the Prediction of 
the Relevance Education Background with the Graduate Employment of the Universitas Sriwijaya,” 
Computer Engineering and Applications Journal, 2021, ISSN: 2252-5459 (Online)   
</kendo-window>

<kendo-window withBackdrop
              title="Reference"
  *ngIf="openFCBF"
  (close)="close('FCBF')"
  [width]="600"
  [top]="200"
>
C. Ying, G. Wang and H. Li, "Design of Feature Selection Algorithm Based on Improved FCBF," 
2021 6th International Conference on Intelligent Computing and Signal Processing (ICSP), 2021, 
pp. 323-327, doi: 10.1109/ICSP51882.2021.9408729. 
</kendo-window>

<kendo-window withBackdrop
              title="Reference"
  *ngIf="openJMIM"
  (close)="close('JMIM')"
  [width]="600"
  [top]="200"
>
L. Wang, Shengyi Jiang, Siyu Jiang, “A feature selection method via analysis of relevance, 
redundancy, and interaction,” Expert Systems with Applications Volume 183, 30 November 2021, 
115365 
</kendo-window>


<div class="k-overlay" *ngIf="openWindowOvl"></div>

